html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fcfdd0;
    font-family: Tahoma, Verdana, sans-serif;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #800;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #200;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #f00;
}

#loginForm {
    width: 720px;
    margin-left:auto;
    margin-right:auto;
}

#signupForm {
    width: 720px;
    margin-left:auto;
    margin-right:auto;
}

.formHolder {
    border: 4px solid #600;
    width: 720px;
    margin-left:auto;
    margin-right:auto;
    background-color: #ffff91;
    padding: 4px;
    text-align: center;
}

.formHolder label {
    margin-top:6px;
    margin-bottom:6px;
}

#makePostit {
    margin:3em;
}

#postitForm {
    border: 8px solid #600;
    width:720px;
    margin-left:auto;
    margin-right:auto;
    height:40%;
    padding-top:20px;
    background-color: #800;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
}

.postitForm label {
    font-size: 1.2em;
    float: left;
    color: white;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:24px;
}

.postitForm input[type=text], textarea {
    display: block;
    width:96%;
    margin-left:auto;
    margin-right:auto;
}

#postitTitle {
    font-size:14pt;
    padding-left:1em;
}

textarea {
    max-width: 96%;
    max-height:200px;
}

.makePostitSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #800;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makePostitSubmit:link, .makePostitSubmit:visited, .makePostitSubmit:hover, .makePostitSubmit:active {
    color: white;
}

.makePostitSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #600;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit, .makePostitSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 1.2em;
    width: 120px;
    background-color: #800;
    border-radius: 2px;
    border-color: #b8bb17;
    padding: 6px 6px 6px 6px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #800;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#postyMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#postyMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#postit {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#postitFeed {
    width: 40%;
    min-width: 400px;
    border: 2px solid #fbff22;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.postit {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #fbff22;
    border-radius: 4px;
    background-color: #fbff22;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.postit:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #600;
}

img.postitIcon {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyPostit {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

/* Make these unique */
h2.postitTitle {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

p.postitContent {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

footer.postitAuthor {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.postit:first-child {
    margin-top: 10px;
}

.postit:last-child {
    margin-bottom:10px;
}